body {
  font-family: 'Mukta', sans-serif;
  margin: 0;
}
.jumbotron, .contact, .services {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  background-repeat: no-repeat;
  max-height: 100%;
  color: white;
}
div.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  color: white;
}
div.contact {
  background-image: url(../assets/backgrounds/c_image.jpg);
  color: white;
  max-height: fit-content;

}
.about-us, .services, .portfolio, .portfolio-list {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.services {
  padding-top: 60px ;
  padding-bottom: 60px;
  max-height:fit-content;
}
.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;

}
#design-detail, #development-detail, #product-detail {
  display: none;
}
























